.footer-logo {
    display: block;
    color: var(--wite-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-bottom: 20px;
}

.footer-logo-blue {
    color: var(--accent-text-color);
}

